/* Here is where you can see all the colors in the pallete of the website. */
:root {
    --black: #000000;
    --white: #ffffff;
    --magenta: #ff00ff;
    --purple: #9932cc;
    --bluepurple: #303060;
    --darkpurple: #181848;
    --lightpurple:#7c40ff;
    --royalpurple:#483078;
    --flatpurple:#483078;
    --brightpink:#ff84f4;
    --aqua:#00FFFF;
    --white:#ffffff;
}
/* Here is the fonts used in the body of the website. */
body {
    background-image: url("https://avablake.github.io/blackwater.png");
    background-color: var(--bluepurple);
    font-family: Helvetica, Arial, sans-serif;
    margin-left: 125px;
}

h1 {
    font-weight: normal;
    background-color: var(--black);
}

header {
    display: grid;
    grid-template-areas: "stack";
    place-items: center;
} 
/* This stacks all the items in the center. */
header > * { grid-area: stack }

.avatar img {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    border: solid var(--white) 5px;
    
}
/* This is the font that is on top of the hero. */
.hero-overlay-text {
    display: flex;
    justify-content: center;
    color: var(--white);
    margin-top: 250px;
}
/* This makes it so that the banner fits all screen sizes */
.hero-banner {
    place-self: stretch;
}
/* This changes the heros image sizes. */
.hero-banner img {
    display: block;
    width: 0;
    height: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}
/* Flex wrap is on main so the boxes can reorder in size. */
main {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

/* This is the side bar at default its on the left and the media queries move it to the bottom. */
aside {
    background-color:var(--darkpurple);
    color: var(--lightpurple);
    width: 125px;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 20px;
}

/* This si the sidebars links */
aside a {
    text-decoration: none;
    display: block;
    padding: 18px;
    text-align: center;
}

/* This puts a border on the avatar. */
img {
    border-style: solid (var(--white)) 4px;
}

/* All a: below shows how to customise links in color based on how they are interacted by. */
a:link {
    text-decoration: none;
    color:var(--lightpurple)
}
a:visited {
    color:var(--royalpurple)
}
a:hover {
    color:var(--magenta)    
}
a:active {
    color:var(--white)
}

/* This changes the hero of the website, it scales from flex. */
.box-banner {
    flex: 1 1 1200px;
    width: 1200px;
    color: var(--white);
    text-align: center;
    display: grid;
    grid-template: "stack";
    place-items: center;
} 
/* As before this keeps all items in a stack in the center. */
.box-banner > a { grid-area : stack }
.box-banner > img { grid-area: stack }
.box-banner > span { grid-area: stack }
/* This changes the text on the banner and gives it a background color. */
.box-banner h2 {
    background-color: var(--black);
    font-weight: normal;
}

.box-banner img {
    display: block;
    height: auto;
    max-width: 100%;
}
/* This changes the box around and makes it so it scales to all sizes. */
.box {
    flex: 1 1 600px;
    width: 600px;
    color: var(--white);
    text-align: center;
    display: grid;
    grid-template: "stack";
    place-items: center;
}
/* As before this centers the stacked items. */
.box > a { grid-area: stack }
.box > img { grid-area: stack }
.box > span { grid-area: stack }

/* This changes the font color */
.box a {
    color:var(--white);
}
/* This changes the background color of the boxes to black. */
.box h2 {
    background-color: var(--black);
    font-weight: normal;
}

.box img {
    display: block;
    height: auto;
    max-width: 100%;
}
/*This is the wrapper that aligns the about me and the contact me into one. */
.section-wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* This is the about me and allows it to scales to many sizes. */
.about-me {
    object-fit: cover;
    color: var(--white);
    background-color: var(--black);
    text-align: center;
}

.about-me h3 {
    font-weight: normal;
    padding: 25px;
}

.about-me img {
    display: block;
    height: auto;
    max-width: 100%;
    margin: auto;
}

/* This is the contact me and allows it to be different colors and centered. */
.contact-me {
    color: var(--white);
    background-color: var(--black);
    padding: 5px;
    text-align: center;
}

.form {
    width:200px;
    margin: auto;
    padding:25px;
}

/* This contact me image scales from this. */
.contact-me img {
    display: block;
    height: auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.contact-me h3 {
    font-weight: normal;
}

/* This centers the footer. */
footer {
    text-align: center;
}

/* Below is many media queries 768px is for smart phones and 1024 is for tablets. The rest are custom for Nest and other devices. */
@media screen and (max-width: 768px) {
    aside {
        text-align: center;
        float: none; 
        width: 100%;
        height: auto;
        position: relative;
        order: 2;
    }    
}

@media screen and (max-width:1440px) {
    aside {
        text-align: center;
        float: none;
        width: 100%;
        height: auto;
        position: relative;
        order: 2;
    }
    body {
        margin-left: 0;
    }
}

/* This size is for tablets. */
@media screen and (max-width:1024px) {
    aside {
        text-align: center;
        float: none;
        width: 100%;
        height: auto;
        position: relative;
        order: 2;
    }
    body {
        margin-left: 0;
    }
}

@media screen and (max-width:1280px) {
    aside {
        text-align: center;
        float: none;
        width: 100%;
        height: auto;
        position: relative;
        order: 2;
    }
}

@media screen and (max-width:912px) {
    aside {
        text-align: center;
        float: none;
        width: 100%;
        height: auto;
        position: relative;
        order: 2;
    }  
}


@media screen and (max-width:820px) {
    aside {
        text-align: center;
        float: none;
        width: 100%;
        height: auto;
        position: relative;
        order: 2;
    }
}
